<% if @restaurants.any? %>
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <p><%= restaurant.description %></p>
      <% review = restaurant.reviews %>
      <% review.each do |r| %>
      <ul>
        <li><%= r.comments%> (<%= r.rating %>/5)</li>
      </ul>
      <% end %>
      <h3><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></h3>
      <h3><%= link_to "Delete #{restaurant.name}", restaurant_path(restaurant), method: :delete %></h3>
      <h3><%= link_to "Review #{restaurant.name}", new_restaurant_review_path(restaurant) %></h3>
  <% end %>
<% else %>
  <h1>No restaurants yet</h1>
<% end %>

<%= link_to "Add a restaurant", new_restaurant_path %>
