<p><%= @restaurant.name %></p>


<p><%= @restaurant.description %></p>


<% review = @restaurant.reviews %>
<% review.each do |review| %>
  <%= review.thoughts %>
  <br>
  <%= "#{review.rating} stars!" %>
  <br>
  <% if user_signed_in? && current_user.id == review.user_id  %>
    <%= link_to "Delete review", restaurant_review_path(review.restaurant_id, review), method: :delete %>
  <% end %>
<% end %>
